.loader {
  display: flex;
  justify-content: center;
    border: 10px solid #f3f3f3;
    border-top: 10px solid #3f4339;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 

  .loading-box{
    margin: auto;
    padding: 20px;
    /* margin: var(--side-margins-mobile); */
    text-align: center;
    color: #535e53;
  }

 .ani-container{
  overflow: hidden;
  position: relative;
  top: 30px;
 }