.contact {
    /* background-color: #eccdaf2c; */
    padding: 0 10px;
    width: 80%;
    max-width: 600px;
    max-height: 1000px;
    box-shadow: 0px 2px 4px -1px rgba(0,0,0,0.2), 0px 4px 5px 0px rgba(0,0,0,0.14), 0px 1px 10px 0px rgba(0,0,0,0.12);
   border-radius: 10px;
   margin: 100px auto;
}

.contactform {
    width: 40%;
    max-width: 40%;
    background-color: var(--primary-color);
    margin: 32px auto 64px auto;
}




.form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding: 30px 50px;
    border-radius: 0;
}

.contactform h3 {
    text-align: center;
    margin: auto;
    /*display: flex; */
    justify-content: center;
}

.radiosection {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 10px;
}

.answers {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    flex-wrap: nowrap;
    margin: 0;
}


.label {
    font-size: 12px;
    line-height: 18px;
    color: #131313;
    width: 100%;
    margin: 0 0 0 0;
  }

  label span {
    margin: 0 0 0 10px;
  }
  
  
  select {
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 6px 10px;
    margin-top: 0;
    width: 100%;
    color: #74836c;
  }
  
  option {
    font-size: 16px;
    background-color: #fff;
    color: #333;
  }
  
  option:disabled {
    color: #aaa;
  }

  .inputfield {
    font-size: 16px;
    background-color: #F9F6FB;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #74836c;
    padding: 8px 16px;
  }

  .optionselected {
    color: #74836c;;
  }

  .inputfield::placeholder {
    color: #74836c;;
  }

  .inputfield:not(:placeholder-shown) {
    color: black;
  }

  .contactform .mainbutton {
    align-self: center;
    margin: 15px auto 10px auto;
    width: 100%;
  }


  input[type="radio"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    width: 20px;
    height: 20px;
    border: 2px solid #131313;
    background-color: #ffffff00;
    border-radius: 50%;
    margin-left: 10px;
    outline: none;
    transition: 0.2s all ease-in-out;
  }
  
  input[type="radio"]::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: transparent;
    transition: 0.2s all ease-in-out;
    z-index: 3;
  }
  
  input[type="radio"]:checked::before {
    background-color: #333;
  }
  
  input[type="radio"]::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #000000;
    transition: 0.2s all ease-in-out;
    opacity: 0;
    z-index: 2;
  }
  
  input[type="radio"]:checked::after {
    opacity: 1;
  }
  

  input[type="radio"]:hover::before {
    background-color: #74db5566;
    padding: 12px;
    z-index: 1;
  }

  @media (min-width: 641px) {
    .contactform {
        width: 70%;
        max-width: 400px;
        margin: 32px auto 64px auto;
    }

    form {
        border-radius: 16px;
    }

    .contactform .mainbutton {
        align-self: center;
        margin: 15px auto 10px auto;
        width: auto;
      }
    
  }


  @media (min-width: 1025px) {
    .contactform {
        width: 70%;
        max-width: 400px;
       /* margin: 32px auto 64px auto; */
        width: 50%;
        max-width: 400px;
        /* margin: 32px auto 64px auto; */
        padding: 15px;
        /* margin: 30px; */
        /* text-align-last: center; */
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }

    form {
        border-radius: 16px;
    }

    .contactform .mainbutton {
        align-self: center;
        margin: 15px auto 10px auto;
        width: auto;
      }
    
  }